{% extends 'base.html' %}
{% block title %}Stacja {{ station_id }} - {% endblock %}
{% block content %}
<div class="container">
    <h2>Pogoda w stacji {{ station_id }}: <span id="stationName"></span></h2>
    <p class="myInvisible" style="display:none;">{{ station_id }}</p>
    <h4>Ostatni pomiar:</h4>
    <p><strong>Godzina: </strong><span id="time"></span></p>
    <p><strong>Temperatura: </strong><span id="ta"></span> &deg;C</p>
</div>
<script>
$(document).ready(function(){
    var stationId = $('.myInvisible').text();

    $.getJSON('http://mech.fis.agh.edu.pl/meteo/rest/json/info/', function(result) {
        for (var i = 0; i < result.length; i++) {
            if (result[i].station == stationId) {
                $("#stationName").text(result[i].name);
                break;
            }
        }
    });

    $.getJSON('http://mech.fis.agh.edu.pl/meteo/rest/json/last/' + stationId, function(result) {
        $('#time').text(result[0].time);
        $('#ta').text(result[0].data.ta);
    });
});
</script>
{% endblock %}